@font-face {
  font-family: SukhumvitSet-Bold;
  src: url(fonts/SukhumvitSet-Bold.ttf);
}
@font-face {
  font-family: SukhumvitSet-Light;
  src: url(fonts/SukhumvitSet-Light.ttf);
}
@font-face {
  font-family: SukhumvitSet-Medium;
  src: url(fonts/SukhumvitSet-Medium.ttf);
}
@font-face {
  font-family: SukhumvitSet-SemiBold;
  src: url(fonts/SukhumvitSet-SemiBold.ttf);
}
@font-face {
  font-family: SukhumvitSet-Text;
  src: url(fonts/SukhumvitSet-Text.ttf);
}
@font-face {
  font-family: SukhumvitSet-Thin;
  src: url(fonts/SukhumvitSet-Thin.ttf);
}
body{
	font-family: SukhumvitSet-Medium;
}
h1,h2,h3,h4,h5,h6,p,a{
	padding: 0;
	margin: 0;
	color: #8A989A
}
input:focus,button:focus{
	outline: none;
}
ul{
	padding: 0;
    list-style-type: none;
}
body{
	background-color: #F3F3F3;
}
a:hover{
	color: #8A989A;
}
/*frontpage*/
.container{
	max-width: 1646px;
	width: 100%;
	margin:0 auto;
}

#homepage #header{
	padding-top: 50px;
	box-shadow: none;
	padding-bottom: 0px;
	background-color: transparent;
	position: absolute;
	top: 0;
	height: auto;
}
#homepage #header .navbar-brand img{
	width: auto;
}
#header .navbar-expand-lg .navbar-nav .nav-item{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
#header .navbar-expand-lg .navbar-nav .nav-link{
	color: #8A989A;
	font-size: 20px;
}
#homepage #header .navbar-expand-lg .navbar-nav li:last-child{
	border: 1px solid #fff;
	border-radius: 18px;
	/*width: 140px;*/
	color: #fff;
	margin-left: 85px;
	background-color: rgb(255,255,255,0.15);
}

.slider a {
  background-position: center;
  background-size: cover;
  display: block;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  padding-top: 100vh; /** HEIGHT : WIDTH x 100 **/
}
.slider a.one {
  background-image: url('images/sweeping.png');
}
.slider a.two {
  background-image: url('images/sweeping.jpg');
}
.slider a.three {
  background-image: url('images/sweeping.png');
}
}
#banner h1{
	font-size: 100px;
	font-family: SukhumvitSet-Bold;
	font-weight: bold;
}

#banner .owl-carousel .owl-nav button.owl-prev{
	position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;

}
#banner .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
#banner h1 span{
	color: #E47390;
}
#banner .banner-content{
	max-width: 1646px;
	position: absolute;
    top: 35%;
    z-index: 1;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

}
#banner .banner-content input[type="text"]{
	max-width: 682px;
	height: 66px;
	width: 100%;
	border-radius: 20px;
	border:none;
	box-shadow: 3px 0px 6px  rgba(0, 0, 0, 0.16);
	margin-bottom: 30px;
	background: url(images/search-icon.png) no-repeat scroll 26px 23px;
	background-color: #fff;
	padding-left:66px;
}

#banner .banner-content input::placeholder{
	color: #DCDBDB;
}
#banner .banner-content input:focus {
 outline: none;
}
#banner .banner-content input[type="submit"] {
	margin-left: -166px;
    height: 56px;
    width: 156px;
    background-color: #E47390;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 20px;
	border:none;
	position: relative;
}
#banner .jobs-suggestion a{
	margin-right: 15px;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
    text-decoration: underline;
    font-family: SukhumvitSet-SemiBold;
    font-weight: 600;
}
.jobs-suggestion a{
	margin-right: 15px;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
    text-decoration: underline;
    font-family: SukhumvitSet-SemiBold;
    font-weight: 600;
}

#banner .jobs-suggestion span{
	background-color: rgba(228, 115, 144, 0.15);
	border:1px solid #E47390;
	width: 131px;
	display: inline-block;
	text-indent: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: 16px;
	border-radius: 12px;
	color: #E47390;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
  	text-align: left;

}
.jobs-suggestion span{
	background-color: rgba(228, 115, 144, 0.15);
	border:1px solid #E47390;
	width: 131px;
	display: inline-block;
	text-indent: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: 16px;
	border-radius: 12px;
	color: #E47390;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
  	text-align: left;

}
#banner .jobs-suggestion{
	max-width: 682px;
	width:100%;

}
.jobs-suggestion{
	max-width: 682px;
	width:100%;

}
#customer-review h2{
	margin-top: 58px;
	border-bottom: 1px solid #DCDBDB;
	padding-bottom: 18px;
	margin-bottom: 50px;
	font-family: SukhumvitSet-Bold;
	font-weight: bold;
  font-size: 26px;
}
#customer-review{
	background-color: #EDEDED;
	padding-bottom: 76px;
}
#customer-review .item{
	max-width: 392px;
	width: 100%;
	background-color: #fff;
	padding: 20px 15px 0px 15px;
	border: 1px solid #EDEDED;
	border-radius: 12px;
	height: 190px;
}
#customer-review .customer-review-slider{
	max-width: 1208px;
	width: 100%;
	margin:0 auto;
}
#customer-review .costumer-details{
	border-bottom: 1px solid #DCDBDB;
	padding-bottom: 16px;
	margin-bottom: 20px;

}
#customer-review .costumer-details .customer-image{
	margin-right: 16px;
}
#customer-review .costumer-details .customer-name p{
	color:#2B2B2B;
	font-family: 16px;
	font-weight: 600;
}

#customer-review .owl-carousel .owl-nav button.owl-next{
	width: 35px;
	height: 35px;
	background-color: #D47B96;
	box-shadow: 3px 0px 6px  rgba(0, 0, 0, 0.35);
	border-radius: 100%;
	position: absolute;
	right: -60px;
    top: 63px;
}
#customer-review .owl-carousel .owl-nav button.owl-prev{
	width: 35px;
	height: 35px;
	background-color: #D47B96;
	box-shadow: 3px 0px 6px  rgba(0, 0, 0, 0.35);
	border-radius: 100%;
	position: absolute;
	left: -60px;
    top: 63px;
}
#customer-review .owl-carousel .owl-nav button:focus{
	outline: none;
}
#customer-review .owl-carousel .owl-nav button.owl-next img{
	position: relative;
    top: 0px;
    right: -2px;
}
#customer-review .owl-carousel .owl-nav button.owl-prev img{
	position: relative;
    top: 0px;
    left: -2px;
}
#customer-review .owl-theme .owl-nav .disabled{
	background-color: #D3D3D3 !important;
}
/*end of front-page */

#header .navbar-expand-lg .navbar-nav li:last-child{
	border: 1px solid #E47390;
	border-radius: 18px;
	/*width: 140px;*/
	color: #fff;
	background-color: rgb(228,115,144,0.15);
}
#header .navbar-expand-lg .navbar-nav li:last-child .nav-link{
	color:#E47390;
}
#header{
	box-shadow: 3px 0px 6px  rgba(0, 0, 0, 0.15);
	padding-top: 15px;
	padding-bottom: 20px;
	background-color: #EDEDED;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 107px;
}
.navbar-brand img{
	width: 78px;
}
.tumtantur-box{
	box-shadow: 3px 0px 6px  rgba(0, 0, 0, 0.15);
	background-color: #fff;
}
#progress-bar{
	position: fixed;
  background-color: #F3F3F3;
  z-index: 999;
  top: 107px;
  left: 0;
  right: 0;
  margin: 0 auto
}
#progress-bar .cutter{
  position: relative;
  top:100px;
  z-index: 0;
}
.fixed-cutter{
  position: relative;
  top: 200px;
  height: 10px;
}
#progress-bar .progress-bar-container{
	padding-bottom: 35px;
	padding-top: 30px;
	margin-top: 15px;

}
#progress-bar h1{
	margin-bottom: 36px;
	font-size: 36px;
	color:#2B2B2B;
	text-align: center;
	font-family: SukhumvitSet-Bold;
	font-weight: bold;
}
#progress-bar .progressbarwrapper{
	max-width: 1046px;
    width: 100%;
    margin:0 auto;
}
.progressbar {
  counter-reset: step;
  font-size: 0;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 25%;
  position: relative;
  text-align: center;
  cursor: pointer;

}
.progressbar li p{
	font-size: 16px;
	color: #2B2B2B;
}
.progressbar li p:first-child{
	font-family: SukhumvitSet-Bold;
	font-weight: bold;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  line-height : 30px;
  border: 2px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #D6D7D8;
  z-index: 2;
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 16px;

}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 18px;
  left: -50%;
  z-index :0;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #E47390;
}
.progressbar li.process:before{
	background-color: #fff;
	color:#E47390;
	border:1px solid #E47390;
}
.progressbar li.active:before {
  border-color: #E47390;
  background-color: #E47390;
  color: #fff;
  font-weight: 600;
}
.progressbar li.active + li:after {
  background-color: #E47390;
}
#search-techician .job-title h2{
	font-size: 36px;
	color: #2B2B2B;
	display: inline-block;
	margin-top: 54px;
	margin-bottom: 36px;
	margin-right: 36px;
}
#search-techician .search-techician{
	padding-top: 24px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
#search-techician .job-title a{
	display: inline-block;
	color: #0089FF;
}
#search-techician .search-tech-form,.task-content{
	max-width: 1342px;
	width: 100%;
	margin:0 auto;
}
#search-techician .search-tech-form h3{
	margin-bottom: 15px;
	color: #2B2B2B;
}
#search-techician .search-techician input[type="text"]{
	display: inline-block;
	border: 1px solid #D6D7D8;
	background-color: #fff;
	height: 66px;
	padding-left: 20px;
	font-size: 20px;
}
#search-techician .search-techician form{
	margin-bottom: 48px;
}
#search-techician .search-techician input[type="text"]:focus{
	outline: none;
}
#search-techician .search-techician input[type="text"]{
	/*max-width: 675px;*/
	width: 100%;
	border-radius: 12px;
	background-image: url('images/map-locator.png');
	background-repeat: no-repeat;
	background-position: 15px 15px;
	padding-left: 60px;
	font-weight: 600;
    font-size: 16px;
}
#search-techician .search-techician input[type="text"].active{
	/*max-width: 675px;*/
	width: 100%;
	border-radius: 12px;
	background-image: url('images/map-locator-black.png');
	filter: grayscale(100%);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	padding-left: 60px;
	font-weight: 600;
    font-size: 16px;
}
#search-techician .search-techician .address-info{
	margin-left: -5px;
	max-width: 392px;
	width: 100%;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
#search-techician .search-techician .next-step-btn.active{
	max-width: 256px;
	width: 100%;
	border: none;
	border-radius: 12px;
	height: 66px;
	background-color: #E47390;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 60px;
	margin: 0 auto;
	margin-left: 15px;
}
#search-techician .search-techician .next-step-btn.inactive{
	max-width: 256px;
	width: 100%;
	border: none;
	border-radius: 12px;
	height: 66px;
	background-color: #D3D3D3;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 60px;
	margin: 0 auto;
	margin-left: 15px;
}
#search-techician .job-choice,#search-techician .job-description{
	margin-top: 15px;
	padding-top: 40px;
	padding-bottom: 36px;
	color: #D6D7D8;
}
#search-techician .job-description{
	margin-bottom: 30px;
}
#search-techician .job-choice h4,#search-techician .job-description h4{
	font-size: 24px;

}
input::placeholder{
	color: #DCDBDB;
}
.search-moving-container{
  	position: relative;
  	animation: myfirst 8s 2;
 	animation-iteration-count: infinite;
 	margin: 0 auto;
 	top: 215px;
	right: 110px;
}

#search-helper h1{
	color: #2B2B2B !important;
	font-size: 36px;
	margin-bottom: 266px;
}
#search-helper .search-helper{
	position: relative;
	background-image: url('images/team.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-width: 402.1px;
	height: 377.95px;
	margin: 0 auto;
	margin-top: 260px;

}
.blur{

	backdrop-filter: blur(5px);
	height: 120px;
    width: 120px;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 14px;
    border-radius: 50%;
    left: 125px;
}

@keyframes myfirst {
  0%   {background: transparent; right: 110px; top: 215px;}
  20%  {background: transparent; right: 100px; top: 66px;}
  40%  {background: transparent; right: -44px; top: 10px;}
 60%  {background: transparent; right: -175px; top: 200px;}
  80% {background: transparent; right: -15px; top: 210px;}
   100% {background: transparent; right: 110px; top: 215px;}
}
#transaction_confirm{
	margin-top: 12px;

}
#transaction_confirm .tumtantur-box{
	padding-top: 36px;
	padding-bottom: 65px;
}
#transaction_confirm .tumtantur-box img{
	 display: block;
  margin-left: auto;
  margin-right: auto;
}
#transaction_confirm p{
	font-size: 20px;
	color: #2B2B2B;
}
#transaction_confirm .transaction-info{
	font-size: 20px;
	color: #2B2B2B;
	margin: 60px auto 54px auto;
	max-width: 600px;
	width: 100%
}
#transaction_confirm .transaction-info .transaction-label{
	max-width: 140px;
	width: 100%;
	text-align: right;
	margin-bottom: 20px;
	margin-right: 14px;
}
#transaction_confirm .transaction-info div{
	margin-bottom: 20px;
}
#transaction_confirm h1 {
	margin-bottom: 22px;
	font-size: 36px;
	color: #2B2B2B;
	text-align: center;
	margin-top: 15px;
}
#transaction_confirm .transaction-buttons button{
	display: block;
	margin: 0 auto;
	font-size: 20px;
	max-width: 390px;
	width: 100%;
	height: 50px;
	border-radius: 12px;
	cursor: pointer;
}
#transaction_confirm .transaction-buttons button:first-child{
	margin-bottom: 15px;
}
.tumtantor-btn-style{
	border: none;
}
.tumtantor-btn-active{
	background-color: #E47390;
	color: #fff;
}
.tumtantor-btn-inactive{
	background-color: #D3D3D3;
	color: #858585;
}
#transaction_successful{
	margin-top: 200px;
	margin-bottom: 90px;
}
#transaction_successful h1{
	color: #2B2B2B;
	font-size: 36px;
	margin-top: 32px;
}
#transaction_successful p{
	color: #2B2B2B;
	margin-top: 25px;
}
#transaction_successful a{
	border-radius: 12px;
	max-width: 398px;
	width: 100%;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 45px;
	text-decoration: none;
	margin-top: 34px;
	margin: 0 auto;
}
#transaction_successful a:hover{
	color: #fff;
}
#tumtantur-modal .modal-dialog{
	max-width: 373px;
	width: 100%;
	border-radius: 8px;
	margin:0 auto;
}

#tumtantur-modal .modal-dialog .modal-body,#tumtantur-modal-form .modal-dialog .modal-body{
	padding:30px;
}
#tumtantur-modal .modal-dialog button, #tumtantur-modal-form .modal-dialog button{
	border-radius: 12px;
	max-width: 272px;
	width: 100%;
	height: 48px;
	border:none;
	font-size: 14px;
	cursor: pointer;
}
#tumtantur-modal .modal-dialog h5,#tumtantur-modal-form .modal-dialog h5{
	margin-bottom: 18px;
	margin-top: 13px;
	color: #2B2B2B;
	font-weight: bold;
}
#tumtantur-modal .modal-dialog p,#tumtantur-modal-form .modal-dialog p{
	margin-bottom: 36px;
	color:#4A4A4A;
}
#tumtantur-modal .modal-dialog button.button-record ,#tumtantur-modal-form .modal-dialog button.button-record {
	background-color: #8A989A;
	margin-bottom: 15px;
	color: #fff;
}
#tumtantur-modal .modal-dialog button.button-cancel,#tumtantur-modal-form .modal-dialog button.button-cancel{
	background-color: transparent;
	border: 1px solid #858585;
}
.owl-two img{
	width: auto !important;
	margin-left: auto;
}
/*footer*/
footer{
	margin-top: 50px;
}
#homepage footer{
	margin-top: 0px;
}
footer .bottom-footer{
	padding-bottom: 22px;
	padding-top: 22px;
	background-color: #E47390;
}
footer .footer-nav li a{
	text-decoration: none;
}
footer .footer-nav .nav-title a{
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
}
#copywrite p{
	color: #fff;
	font-size: 20px;
}
footer .footer-nav .social-links a{
	width: 40px;
	height: 40px;
	box-shadow: 3px 0px 6px  rgba(0, 0, 0, 0.15);
	border-radius: 100%;
	background-color: #fff;
	display: inline-block;
	margin-right: 10px;
}
footer .footer-nav .social-links a:last-child{
	margin-right: 0px;
}
footer .footer-nav .social-links{
	margin-bottom: 20px;
}
footer .payment-gateway-figures{
	margin-top: 10px;
}
footer .payment-gateway-figures figure{
	margin-right: 10px;
}
footer .office-hours p span{
	margin-right: 15px;
}
footer .upper-footer{
	padding-bottom: 15px;
	padding-top: 40px;
	background-color: #fff;
}
footer .upper-footer .footer-logo{
	margin-right: 55px;
}
footer .upper-footer .help-center{
	margin-right: 110px;
}
footer .upper-footer .about-us{
	margin-right: 100px;
}
footer .upper-footer .contact-us{
	margin-right: 110px;
}
.breadcrumb-holder .breadcrumb{
  background-color: transparent;
}
.breadcrumb-holder .breadcrumb .active a {
  color:#2B2B2B;
  text-decoration: underline;
  font-family: 'SukhumvitSet-SemiBold';
}
.breadcrumb-holder .breadcrumb a{
  font-size: 20px;
  font-family: 'SukhumvitSet-Text';
}
.breadcrumb-holder .breadcrumb-item+.breadcrumb-item::before{
  content: ">"
}
.breadcrumb-holder h4,.task-details-holder h4 ,.details  .box-1  .task-title h4{
  font-size: 36px;
  color: #2B2B2B;
  display: inline-block;
  font-family: 'SukhumvitSet-SemiBold';
}
.body-content{
  position: relative;
}
.set-top-padding{
  padding-top: 376px;
}
.task-details-holder a.tdh-head-link{
  color: #0089FF;
  font-size: 16px;
  display: inline-block;
  padding-left: 20px;
  font-family: 'SukhumvitSet-Medium';
}
.details  .box-1 .list-icon-details,.details  .box-1 .list-description-details{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-family: 'SukhumvitSet-SemiBold'
}
.details  .box-1 .list-icon-details{
  width: 10%;
}
.details  .box-1 .list-description-details{
  width: 87%;
}
.details  .box-1  ul.list-group li{
  padding: 20px 0;
  border-radius:0;
  border-left: 0;
  border-right: 0;
  border-color: #F3F3F3;
}
.details  .box-1  ul.list-group li span.plus-btn{
  font-size: 22px;
  color:#E47390;
}
.details  .box-1  ul.list-group li span.plus-btn::after{
  content:url('images/plus-btn.png');
  height: 35px;
  width: 35px;
  vertical-align: middle;
}
.details  .box-1  ul.list-group li span.check-btn::after{
  content:url('images/green-check.png');
  height: 35px;
  width: 35px;
  vertical-align: middle;
}
.details  .box-1  ul.list-group li span.check-btn{
  padding-left: 24px;
}
.size-6{
  min-height: 0!important;
}
.text-opacity-full{
  opacity: 100%!important;
}
.text-opacity-half{
  opacity: 50%!important;
}
.details  .box-1  ul.list-group li span.minus-btn::after{
  content:url('images/minus-btn.png');
  height: 35px;
  width: 35px;
  vertical-align: middle;
  opacity: 50%;
}
.details  .box-1  ul.list-group li span.minus-btn{
  font-size: 22px;
  color:#E47390;
}
.details  .box-1  ul.list-group li div.number{
  font-size: 20px;
  color:#2B2B2B;
}
.details  .box-1  ul.list-group li div.number input{
  text-align: center;
  border: none;
  border-radius: 0;
  max-width: 176px;
  display: inline;
}
.details  .box-1  ul.list-group li span.value{
  font-size: 30px;
  padding-left: 10px;
  font-weight: bold;
  font-family: 'SukhumvitSet-Bold';
}
.list-price{
    font-size: 20px;
    font-family: 'SukhumvitSet-Bold';
}
.details  .box-1  ul.list-group li span.select::after{
  content:url('images/check.png');
  vertical-align: middle;
  height: 35px;
  width:35px;
}
.details  .box-1   ul.list-group li span.active::after{
  content:url('images/check-active.png')!important;
}
.details  .box-1  ul.list-group li div.total-text{
  font-size: 30px;
  font-family: 'SukhumvitSet-Bold'
}
.details  .box-1  .task-details ul li div.total-number{
  font-size: 48px;
  font-weight: bold;
}
.details  .box-1  span.box-heading{
  font-size: 30px;
  font-family: 'SukhumvitSet-Light';
}
.details  .box-2  span.box-heading{
  font-size: 30px;
  font-weight: bold;
  font-family: 'SukhumvitSet-SemiBold';
}
.details  .box-2  span.box-sub-heading{
  font-size: 20px;
  font-family: 'SukhumvitSet-Light'
}
.details  .box-2 .description{
  font-size: 18px;
  color: #2B2B2B;
  font-family: 'SukhumvitSet-SemiBold';
}
.details  .box-2 .description .location{
  font-size: 14px;
  font-family: 'SukhumvitSet-Medium';
}
.details .box-2 .bg-wrning{
  background-color:#F7D5DD;
  color:#E47390;
}
.details  .box-2 .description span.desc-small{
  font-size: 14px;
  font-family: 'SukhumvitSet-Light'
}
.details  .box-2 .description .red-desc{
  font-size: 18px;
  font-family: 'SukhumvitSet-Medium'
}
.details  .box-2 .description span.total-value{
  font-size: 24px;
  font-family: 'SukhumvitSet-Medium';
}
.details  .box-2 .description span.currency,.details  .box-2 .description label{
  font-size: 16px;
  font-family: 'SukhumvitSet-Bold';
}
.details  .box-2 .description .form-control{
  border-radius: 0;
  border-right: 1px solid #FBEAEE;
  font-size: 12px;
  font-family: 'SukhumvitSet-Medium'
}
.details  .box-2 .description .desc-button{
  color: #E47390;
  border-radius: 0;
  background-color: #FBEAEE;
  border: 1px solid #E47390;
  font-size: 14px;
  width: 77px;
  font-family: 'SukhumvitSet-Bold';
}
.details  .box-2 .description .bg-secndary{
  background-color: #F2F2F2;
}
.details .next-btns a{
  width: 100%;
  height: 50px;
  border-radius: 12px;
  color:#ffffff;
  font-size: 20px;
  opacity: 30%;
  font-family: 'SukhumvitSet-Bold';
  display: flex;
  justify-content: center;
  align-items: center;
}
.details .next-btns a:hover{
  opacity: 100%;
  cursor: pointer;
  color: #ffffff;
}
.details  a.confirm-button{
  background-color: #E47390;
  border:1px solid #E47390;
}
.details  a.cancel-button{
  background-color: #DCDBDB;
  border:1px solid #DCDBDB;
}
.describe-task-holder li.list-group-item{
  border:none;
}
.describe-task-holder .box-1 ul.list-group li{
  padding: 10px 0;
}
.describe-task-holder .map .input-group-text{
  background-color:transparent;
  border-right:0;
}
.describe-task-holder .map .input-group-text-active{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border-right: 0;
  border: 1px solid #ced4da;
}
.describe-task-holder .map .input-group-text-active::after{
  content:url('images/map-locator-black.png');
  width: 26px;
  height: 35px;
}
.describe-task-holder .map .input-group-text::after{
  content:url('images/map-locator-black.png');
  width: 26px;
  height: 35px;
}
.describe-task-holder .size-6 .input-group-text::after{
  content:url('images/map-locator.png');
  width: 26px;
  height: 35px;
}
.describe-task-holder .map .form-control{
  height: 66px;
  border-radius: 0px;
  font-family: 'SukhumvitSet-Medium';
}
.describe-task-holder .map .map-icon .form-control{
  border-left: 0;
}
.describe-task-holder .map a.map-search::before{
  content: url('images/map-locator-btn.png');
  position: absolute;
  top: 13px;
  left: 10px;
}
.describe-task-holder .map .scond-input{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px
}
.describe-task-holder .input-group>.input-group-prepend>.input-group-text{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.describe-task-holder .active-map-locator::before{
  content: url('images/map-locator-active.png');
  width: 26px;
  height: 35px;
}
.describe-task-holder .map a.map-search{
  position: relative;
  padding-left: 30px;
  height: 66px;
  width: 100%;
  border:1px solid #E47390;
  background-color: #E47390;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:#FFFFFF;
  font-size: 20px;
  border-radius: 9px;
  cursor: pointer;
  text-decoration: underline;
  font-family: 'SukhumvitSet-Bold';
}
.describe-task-holder .map-container{
  min-height: 714px;
}
.map-title{
  font-size: 30px;
  color: #2B2B2B;
  font-family: 'SukhumvitSet-Light';
}
.button-holder{
  text-align: right;
}
.minus-btn, .number, .plus-btn, .check-btn{
  display: inline-block;
}
/* ANIMATED X */
 .navbar-toggler.x {
	 border: none;
}
 .navbar-toggler.x:focus {
	 outline: none;
}
 .navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
	 -webkit-transform: rotate(45deg);
	 -ms-transform: rotate(45deg);
	 transform: rotate(45deg);
	 -webkit-transform-origin: 10% 10%;
	 -ms-transform-origin: 10% 10%;
	 transform-origin: 10% 10%;
}
 .navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
	 opacity: 0;
	 filter: alpha(opacity=0);
}
 .navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
	 -webkit-transform: rotate(-45deg);
	 -ms-transform: rotate(-45deg);
	 transform: rotate(-45deg);
	 -webkit-transform-origin: 10% 90%;
	 -ms-transform-origin: 10% 90%;
	 transform-origin: 10% 90%;
}
 .navbar-toggler.x .icon-bar {
	 width: 22px;
	 display: block;
	 height: 2px;
	 background-color: #2B2B2B;
	 -webkit-transition: all 0.2s;
	 transition: all 0.2s;
}
 .navbar-toggler.x .icon-bar + .icon-bar {
	 margin-top: 4px;
}
 .navbar-toggler.x .icon-bar:nth-of-type(1) {
	 -webkit-transform: rotate(0);
	 -ms-transform: rotate(0);
	 transform: rotate(0);
}
 .navbar-toggler.x .icon-bar:nth-of-type(2) {
	 opacity: 1;
	 filter: alpha(opacity=100);
}
 .navbar-toggler.x .icon-bar:nth-of-type(3) {
	 -webkit-transform: rotate(0);
	 -ms-transform: rotate(0);
	 transform: rotate(0);
}

.mobile-step-description{
  display: none;
}
.step-active{
  display: block!important;
}
.mobile-step-description .steps{
  display: none;
}
.steps h5{
  font-weight: bold;
}
.steps h5,.steps span{
  color: #2B2B2B;
  font-size: 16px;
}
.task-2-title{
  font-size: 24px;
  font-family: 'SukhumvitSet-Medium';
}
.calendar-title{
  font-size: 36px;
  font-family: 'SukhumvitSet-Bold';
  color:#2B2B2B;
  text-align: center;
}
.time-container label{
  font-size: 16px;
  color: #2B2B2B;
  font-family: 'SukhumvitSet-Bold';
}
.size-4::before{
  content: ''!important;
}
.size-4{
  background-color: #D3D3D3!important;
  border: 1px solid #D3D3D3!important;
  padding-left: 0!important;
  text-decoration: none!important;
}
#wrap {
  width: 1100px;
  margin: 0 auto;
  }

#external-events {
  float: left;
  width: 150px;
  padding: 0 10px;
  text-align: left;
  }

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
  }
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #D3D3D3;
  border-radius: 3px;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #DCDBDB;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #D3D3D3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.external-event { /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 2px 4px;
  background: #3366CC;
  color: #fff;
  font-size: .85em;
  cursor: pointer;
  }

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
  }

#external-events p input {
  margin: 0;
  vertical-align: middle;
  }

#calendar {
  margin: 0 auto;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 6px;
  /* box-shadow: 0 1px 2px #C3C3C3; */
  }
  .time-up::after{
    content:url('images/up.png');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left:0;
    margin-left: auto;
    margin-right: auto;
  }
  .time-down::after{
    content:url('images/down.png');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left:0;
    margin-left: auto;
    margin-right: auto;
  }
  .bootstrap-timepicker-widget table tr{
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: baseline;
  }
  .bootstrap-timepicker-widget a.btn, .bootstrap-timepicker-widget input{
    border-radius: 1px!important;
    border: 1px solid #ced4da;
  }
 .input-group-addon{
   display: none;
 }
@media (max-width: 991.98px) {
	.set-top-padding{
	    padding-top: 375px;
	  }
	  .fc-header-right{
	    width: 26%!important;
	  }
	  .details .box-1 ul.list-group li div.number input{
	    max-width: 80px;
	  }
	  .map-search{
	    font-size: 12px!important;
	  }
	  .navbar-collapse {
	      position: fixed;
	      width: 100%;
	      top: 12%;
	      padding-left: 15px;
	      padding-right: 15px;
	      padding-bottom: 15px;
	    }
	    .navbar-collapse ul li{
	      text-align: left;
	      border-top: 1px solid #ced4da;
	    }
	    #header .navbar-expand-lg .navbar-nav li:last-child{
	      border-top: 1px solid #ced4da;
	    }
	    #header .navbar-expand-lg .navbar-nav li:first-child{
	      border-top: none;
	    }
	.slider a{
		background-size: cover;
	}
	#homepage #header{
		padding-top: 15px;
    	padding-bottom: 20px;
    	background-color: #EDEDED;
    	box-shadow: 3px 0px 6px  rgba(0, 0, 0, 0.15);
    	position: fixed;
    }
    .navbar-brand{
    	padding-left: 15px;
    }
	#homepage .navbar-brand img{
		width: 75px !important;
	}
	#navbarNav{
		background-color: #EDEDED;
	}
	#header{
		height: auto;
	}
	.navbar-toggler{
    border-radius: 0px;
    padding: 10px;
    position: fixed;
    top: auto;
    right: 5px;
    z-index: 9;
		margin-right: 15px;
	}
	.navbar-toggler img{
		width: 30px;
	}
	.navbar-toggler{
		/* background-color: #E47390; */
		border-radius: 0px;
		padding: 10px;
	}
	#header .navbar-expand-lg .navbar-nav .nav-item{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding: 12px 0px 10px 15px;
	}
	#homepage #header .navbar-expand-lg .navbar-nav li:last-child{
		margin-left: 0px;
		border: none;
		width: 100%;
		border-radius: 0px;

	}
	#homepage #header .navbar-expand-lg .navbar-nav li:last-child{
		background-color: transparent;
	}
	#header .navbar-expand-lg .navbar-nav .nav-item:hover{
		background-color: #fff !important;
	}
	#header .navbar-expand-lg .navbar-nav .nav-link{
		color: #8A989A !important
	}
	#banner .jobs-suggestion span{
		color: #fff;
		border: 1px solid #fff;
	}
	#banner h1 span{
		color: #fff;
	}
	footer .payment-gateway-figures{
		justify-content: start !important;
	}
	#copywrite p{
		font-size: 16px;
	}
	#header .navbar-expand-lg .navbar-nav li:last-child{
		border: none;
		background-color: rgb(228,115,144,0);
		border-radius: 0px;
	}
	footer .upper-footer .footer-logo{
			margin-right: 0px;
    		text-align: center;
		}
	footer .upper-footer .help-center{
			margin-right: 0px;
			text-align: center;
			margin-top: 20px;
	}
	footer .upper-footer .about-us{
		margin-right: 0px;
		margin-top: 20px;
		text-align: center;
	}
	footer .upper-footer .contact-us{
		margin-right: 0px;
		margin-top: 20px;
		text-align: center;
	}
	footer .footer-nav{
		text-align: center;
	}
	footer .footer-nav .social-links{
		justify-content: center;
	}
	footer .payment-gateway-figures{
		justify-content: center !important;
	}
}
	@media (max-width: 767.98px) {
		#banner h1{
			font-size: 70px;
		}
		#banner .banner-content input[type="submit"]{
			display: block;
			margin-left: 0px;
			margin-bottom: 15px;
		}
		#banner .banner-content input[type="text"]{
			margin-bottom: 15px;
		}
		#customer-review .item{
			margin: 0 auto;
		}
		.tumtantur-box{
			padding: 15px;
		}
		#search-techician .search-techician .next-step-btn.active,#search-techician .search-techician .next-step-btn.inactive{
			margin-left: 0px;
    		margin-top: 15px;
		}
		#search-techician .search-tech-form h3{
			font-size: 18px
		}
		#progress-bar h1{
			font-size: 24px;
		}
		.describe-task-holder .map a.map-search{
		  	margin-top: 10px;
		  	font-size: 20px!important;
		  	font-family: 'SukhumvitSet-SemiBold'
		}
		.button-holder, .text-xs-center{
		  	text-align: center!important;
		}
		.details .box-1 .list-icon-details, .details .box-1 .list-description-details{
		  	width: auto;
		}
		.button-holder{
		  	margin: 21px 0;
		}
		.describe-task-holder .map .form-control{
		  	border-top-right-radius: 10px;
		  	border-bottom-right-radius: 10px;
		}
		.describe-task-holder .map .scond-input{
		  	border-top-left-radius: 10px;
		  	border-bottom-left-radius: 10px;
		}
		ul.progressbar li p{
		    display: none;
		}
		.mobile-step-description{
		  	display: block;
		}
		.set-top-padding{
		  	padding-top: 395px!important;
		}
	}
	@media (max-width: 575.98px) {
		#banner .jobs-suggestion a{
			margin-right: 0px;
		}
		#progress-bar h1{
			font-size: 24px;
		}
		.progressbar li p{
			display: none;76
		}
		#transaction_successful img{
			width: 150px;
		}
		#transaction_confirm h1{
			font-size: 28px;
		}
		#banner h1 {
		    font-size: 48px;
		}

		#transaction_confirm .transaction-info .transaction-label{
			max-width: 100%;
			text-align: center;
			margin-bottom: 0px;
			margin-top: 20px;
			margin-right: 0px;
		}
		#search-helper .search-helper{
			width: 250px;
		}
		.search-moving-container img{
			width: 100px;
		}
		#search-helper h1{
			font-size: 16px;
		}
		.blur{
			width: 68px;
			height: 68px;
		}
		.search-moving-container{
		  	position: relative;
		  	animation: myfirsts 5s 2;
		 	animation-iteration-count: infinite;
		 	margin: 0 auto;
		 	top: 155px;
			right: 75px;
		}
		.blur{
			top: 7px;
   			left: 82px;
   			backdrop-filter: blur(2px);
		}
		#search-helper .search-helper{
			margin-top: 200px;
			height: 250px;
			overflow: hidden;
		}
		@keyframes myfirsts {
		  0%   {background: transparent; right: 75px; top: 155px;}
		  20%  {background: transparent; right: 40px; top: 55px;}
		  40%  {background: transparent; right: -30px; top: 25px;}
		 60%  {background: transparent; right: -90px; top: 80px;}
		  80% {background: transparent; right: -10px; top: 145px;}
		   100% {background: transparent; right: 75px; top: 155px;}
		}
		.task-details-holder h4{
			font-size: 32px !important;
		}
		.breadcrumb-holder .breadcrumb a{
			font-size: 14px;
		}
		.task-details-holder a.tdh-head-link{
			padding-left: 0px !important;
		}
		.details .box-1 .task-details ul li div.total-number{
		    font-size: 38px;
		}
		.details .box-1 ul.list-group li div.total-text{
		   font-size: 20px;
		}
		.set-top-padding{
		   padding-top: 384px!important;
		}
		.fc-header-title h2{
		   font-size: 22px!important;
		}
		.fc-state-default.fc-corner-left{
		   right: 9px!important;
		}
    .fc-week .fc-day > div .fc-day-number{
      font-size: 12px!important;
      height:20px!important;
      width: 20px!important;
      padding: 2px!important;
    }
    .fc-border-separate tr.fc-last th{
      font-size: 10px!important;
    }
	}
  .bootstrap-timepicker-widget table td a{
    position: relative;
  }
  .bootstrap-datetimepicker-widget a[data-action]{
  	position: relative;
  }
  .datetimepicker12{
  	margin: 0 auto;
  	width: 50%;
  }
